[submodule "Monstera/vendor/spdlog"]
	path = Monstera/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Monstera/vendor/GLFW"]
	path = Monstera/vendor/GLFW
	url = https://github.com/mhtwedt/glfw
	branch = 3.3-stable
[submodule "Monstera/vendor/glm"]
	path = Monstera/vendor/glm
	url = https://github.com/g-truc/glm
	branch = master
[submodule "Monstera/vendor/yaml-cpp"]
	path = Monstera/vendor/yaml-cpp
	url = https://github.com/mhtwedt/yaml-cpp
[submodule "Monstera/vendor/ImGuizmo"]
	path = Monstera/vendor/ImGuizmo
	url = https://github.com/mhtwedt/ImGuizmo
[submodule "Monstera/vendor/FFmpeg"]
	path = Monstera/vendor/FFmpeg
	url = https://github.com/mhtwedt/FFmpeg
[submodule "Monstera/vendor/imgui"]
	path = Monstera/vendor/imgui
	url = https://github.com/mhtwedt/imgui
	branch = master
